# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
.venv/
env/
venv/

# Django stuff
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3
local_settings.py
media/
staticfiles/
__pycache__/

# Environment files
.env
*.env

# VS Code
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Render build cache
render-build/
